.App {
  text-align: center;
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  justify-content: center;
}

h2 {
  text-align: center;
  justify-content: center;
}

.h4 {
  text-align: center;
  justify-content: center;
}